# ignore all logs
*.log
*.npy
*.db
*.pyc
*.DS_Store
**/.DS_Store
**/._*
__pycache__
._*
bglinking.egg-info


# ignore notebook checkpoints and pyc files in tests
tests/*.pyc
tests/playground.py

# ignore selected items in trec-news
bglinking/output/graphs/*/*
bglinking/output/docids/*.txt
bglinking/database_utils/db
bglinking/database_utils/*.db
bglinking/database_utils/examples
bglinking/resources/db/*.db
bglinking/resources/Index/*/
bglinking/resources/embeddings/*.txt
bglinking/resources/embeddings/**
bglinking/resources/topics-and-qrels/**
bglinking/resources/candidates/**